{{ define "footer" }}
  <hr />
  <small>
    PuddingAuth v{{ .App.Constants.PuddingAuthVersion }} based on Drasl v{{ .App.Constants.Version }}. Licensed under
    <a href="{{ .App.Constants.LicenseURL }}">{{ .App.Constants.License }}</a>.
    Source code <a href="{{ .App.Constants.PuddingAuthRepositoryURL }}">here</a>.
  </small>
{{ end }}
